/* Styles for Mobile Site */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FAA300;
    color: #0101fa;
}
/* Header & Hero */
body {
    font-family: Roboto;
    background-color: #FAA300;
    color: #0101fa;
}
h1 {
    font-family: Roboto;
    font-size:30pt;
}
header {
    text-align: center;
}
#hero img {
    width: 300px;
    max-width: 100%;
}
#lit h2 {
    text-align: center;
}
#lit div {
    padding: 2em;
    padding-top: 0px;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}


/* Projects */
#projects {
    border: 2px solid #fa21bf;
    border-radius: 20px;
}
#project img {
    max-width: 100%;
    width: 70px;
}
#project figure {
    text-align: center;
}
/* Reviews */
#lit h2 {
    text-align: center;
}
#lit div {
    padding: 2em;
    padding-top: 0px;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
#hero ,footer{
    text-align: center;
    color: #FFFFFF;
    background-color:#F0857E ;
    padding: 10px;
    border: 2px solid #ed4032;
    border-radius: 20px;
}



/* Media state for Desktop site */
@media screen and (min-width: 100rem) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}
    /* Header & Hero */
    body {
        font-family: Roboto;
        background-color: #FAA300;
        color: #0101fa;
    }
    h1 {
        font-family: Roboto;
        font-size:30pt;
    }
    header {
        text-align: center;
    }
    #hero img {
        width: 300px;
        max-width: 100%;
    }
    #lit h2 {
        text-align: center;
    }
    #lit div {
        padding: 2em;
        padding-top: 0px;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Projects */
    #projects {
        border: 2px solid #fa21bf;
        border-radius: 20px;
    }
    #project img {
        max-width: 100%;
        width: 100px;
    }
    #project figure {
        text-align: center;
    }
    /* Reviews */

    /* Footer */
    #hero ,footer{
        text-align: center;
        color: #FFFFFF;
        background-color:#F0857E ;
        padding: 10px;
        border: 2px solid #ed4032;
        border-radius: 20px;
    }