/* Styles for Mobile Site */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FAA300;
    color: #0101fa;
}
/* Header & Hero */

/* Projects */

/* Reviews */

/* Footer */


/* Media state for Desktop site */

    /* Header & Hero */

    /* Projects */

    /* Reviews */

    /* Footer */
    